{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="content-section">
      <h1>RUDI JUANDI BUTARBUTAR</h1>
      <h3>Skills:</h3>
      <ul>
          <li>Python Backend Developer</li>
          <li>Golang Backend Developer</li>
          <li>Data Analysis and Machine Learning</li>
      </ul>
  </div>
</div>

<div class="container my-5">
  <h1 class="mb-4">My Portfolio</h1>
  <ul class="list-group">
      <li class="list-group-item list-group-item-light">
          <a href="{{ url_for('users.login') }}" class="text-decoration-none text-dark">Backend Development : User Function with Flask</a>
      </li>
      <li class="list-group-item list-group-item-light">
          <a href="{{ url_for('posts.new_post') }}" class="text-decoration-none text-dark">Backend Development : Posts Function with Flask</a>
      </li>
      <li class="list-group-item list-group-item-light">
          <a href="{{ url_for('assets.calc') }}" class="text-decoration-none text-dark">Backend Development : Asset Calculation with Flask</a>
      </li>
      <li class="list-group-item list-group-item-light">
          <a href="{{ url_for('users.login') }}" class="text-decoration-none text-dark">Backend Development : Economic List with Flask</a>
      </li>
      <li class="list-group-item list-group-item-light">
          <a href="https://github.com/rubutar" class="text-decoration-none text-dark">Others on Github</a>
      </li>
  </ul>
  <iframe src="{{ url_for('main.serve_pdf') }}" width="100%" height="600px"></iframe>
</div>

{% endblock content %}